<div id="guide-content" class="">
    <gcrdt-guide-renderer id="guide-renderer">
        <div id="sections">
            <gcrdt-guide-section-renderer>
                <div id="items">
                    <gcrdt-guide-entry-renderer>
                        <a id="endpoint" class="azd-guide-entry-renderer" tabindex="-1" role="" title="Accueil" href="/">
                            <azd-icon icon="home"></azd-icon>
                            <azd-formatted-string></azd-formatted-string>
                        </a>
                    </gcrdt-guide-entry-renderer>
                </div>
            </gcrdt-guide-section-renderer>
        </div>
    </gcrdt-guide-renderer>
</div>