

.gck-entries-empty
{
	display: flex;
	align-items: flex-end;
	justify-content: space-between; 
	gap: 8px;
}

.gck-input-groups
{
	@extend .grid;
	font-size: .85rem;
}

.gck-text-input, .gck-select-input
{
	display: flex;
	flex-direction: column;

	.gck-input 
	{
		display: flex;
		gap: 3px;
		flex-direction: column;

		input, select 
		{
			@extend %gck-input;
			outline: none;
			background-color: var(--mck-color-white);
		}

		input:focus, select:focus{
			border: 2px solid var(--mck-color-blue);
		}
	}
}

.gck-button-submit 
{
	height: var(--input-height);
	padding: 0 12px;
	background-color: var(--mck-color-green);
	color: var(--mck-color-white);
	margin-top: 14px;
	border-radius: 8px;
	font-size: 15px;
	transition: .3s ease-out;

	&:hover {
		background-color: var(--mck-color-green-1);
	}
}