.gck-attestations
{
    display: block;
    --border: 1px solid var(--mck-color-border);
    h1 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
}

.gck-header-section
{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    a {
        display: block;
        font-weight: 500;
        padding: 5px 12px;
        font-size: 15px;
        border-radius: 8px;
        color: var(--mck-color-black);
        transition: .3s;
        background-color: var(--mck-color-gray-1);
    }

    a:hover {
        background-color: var(--mck-color-border);
    }

    a.clicked 
    {
        background-color: var(--mck-color-black);
        color: var(--mck-color-white);
    }
}

.gck-content-section
{
    
}

.gck-card-article
{
    transition: .3s;
    border-radius: 8px;

    &:hover
    {
        box-shadow: 0px 0px 22px -6px rgba(74,74,74,0.24),
        0px 15px 12px 0px rgba(0,0,0,0.22);;
    }
    a {
        display: block;
    }
}

.article-header
{
    display: grid;
    grid-template-columns: 45px 1fr;
    gap: 15px;
    margin: 5px;
    margin-bottom: 10px;
    background-color: var(--mck-color-border);
    border-radius: 5px;
    padding: 12px 8px;

    .client-avatar-header
    {
        height: 45px;
        border-radius: 50%;
        background-color: var(--mck-color-gray);
        color: var(--mck-color-white);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .about-client-header
    {
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }
}


.article-body
{
    padding: 5px 8px;

    span:nth-child(1)
    {
        font-weight: 600;
        display: block;
        font-size: 13px;
        margin-bottom: 5px;
        word-wrap: break-word;
    }

    span:nth-child(2)
    {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
        word-wrap: break-word;
    }

    span:nth-child(3) {
        display: inline-block;
        padding: 1px 10px;
        border-radius: 50px;
        font-size: 12px;
        margin: 6px 0;
        &.approved {
            border: 1px solid var(--mck-color-green);
            color: var(--mck-color-green);
        }

        &.rejected {
            border: 1px solid var(--mck-color-red);
            color: var(--mck-color-red);
        }

        &.success {
            background-color: var(--mck-color-green);
            color: var(--mck-color-white);
        }

        &.urgent {
            background-color: var(--mck-color-red);
            color: var(--mck-color-white);
        }
    }

    p.time
    {
        color: var(--mck-color-gray);
        font-size: 14px;
    }
}