.gck-gage-content
{
    .gck-input-groups {
        --col: 150px;
        font-size: .85rem;
    }

    padding: 8px 5px;

    label {
        font-size: 14px;
    }
    input {
        font-size: 13px;
    }
}