.items-content-attestation {
    max-height: 70vh;
    overflow-y: auto;
    margin-top: 20px;

    table {
        border: 1px solid var(--mck-color-gray);
    }

    tr {
        border: 1px solid var(--mck-color-gray);
    }

    thead {
        td {
            font-weight: 600;
        }
    }

    td {
        padding: 10px 0;
        min-width: 50px;
    }   
}

.items-attestation-total {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        display: block;
        width: 100%;
        border-radius: 5px;
    }

    span:first-child {
        font-weight: bold;
    }

    span:last-child {
        border: 1px solid var(--mck-color-gray);
        padding: 4px 8px;
        
    }
}

.attestation-actions
{
    margin-top: 20px;
    display: flex;
    gap: 10px;

    button {
        padding: 8px 12px;
        border-radius: 5px;
        border: 1px solid var(--mck-color-gray);
    }
}