%btn {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--mck-color-black);
  color: var(--mck-color-white);
  font-size: 14px;
  &:hover {
    transform: scale(1.02);
  }
}

.btn-update {
  @extend %btn;
  background-color: var(--mck-color-gray-1);
  color: var(--mck-color-black);
}

.btn-create {
  @extend %btn;
  background-color: var(--mck-color-black);
  color: var(--mck-color-white);

  &.secondary {
    background-color: var(--mck-color-gray-1);
    color: var(--mck-color-black);
  }
}

.btn-approve {
  @extend %btn;
  background-color: var(--mck-color-green)
}

.btn-reject {
  @extend %btn;
  background-color: var(--mck-color-red)

}

.btn-print {
  @extend .btn-create;
}

.btn-validate {
  @extend .btn-create;
}
