.gck-search-client
{
	width: 300px;
	margin-bottom: 2rem;
}

.gck-search-client-input
{
	display: grid;
	width: 100%;
	position: relative;
	grid-template-columns: calc(100% - 55px) 50px;
	align-items: center;
	@extend %gck-input;
	padding: 0;
	gap: 5px;
	font-size: 15px;

	&.focus
	{
		border: 2px solid var(--mck-color-blue);
	}

	input {
		display: block;
		background-color: none;
		border: none;
		outline: none;
		padding: 2px 8px;
        height: 90%;
	}
}

.search-link-icon
{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--mck-color-border);
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	cursor: pointer;
	height: calc(var(--input-height) - 3px);
	transition: background-color .3s ease-in;

	&:hover {
		background-color: var(--mck-color-green-1);
		color: var(--mck-color-green);
	}
}