<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{- encore_entry_link_tags('app')}}
        {% endblock %}
        {% block javascripts %}
            {{- encore_entry_script_tags('app')}}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <gcrdt-app>
                {% block navbar %}
                    <gcrdt-mck-navbar id="navbar">
                        {% include "partials/navbar.html.twig" %}
                    </gcrdt-mck-navbar>
                {% endblock %}
                {% block sidebar %}
                    <gcrdt-mck-sidebar id="sidebar"></gcrdt-mck-sidebar>
                {% endblock %}
                {% block content %}
                    
                {% endblock %}
                <gcrdt-popup-container><gcrdt-popup-container>
            </gcrdt-app>
        {% endblock %}
    </body>
</html>
